{% extends 'meetups/base/base.html' %}
{% load static %}


{% block title %}Meetups{% endblock %}


{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/all_meetups.css' %}">
{% endblock %}


{% block main_heading %}
More meetups to come!
{% endblock %}

{% block header_content %}
<p>Find the one that best suits!!</p>
{% endblock %}

+

{% block body %}
<section>
    <h2>Upcoming meetups</h2>
    <ol>
        {% for meet in meetups%}
        {% include 'meetups/includes/meetup-item.html' with title=meet.title image=meet.image.url location='Mangal' slug=meet.slug %}
        {% endfor %}
    </ol>
</section>
{% endblock %}
   